.body{
    position: relative;
    height: 400px;
    min-height: 200px;
    width: 100%;
    background: #161415 url(../images/pyramid.jpg) no-repeat top center;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    text-align: center;
    overflow: hidden;
}